<div class="container-single-view">
    <div class="main">
        <h2>View <br> <%= projectItem.name %> </h2> </div>
    <div class="view-file">
        <% let classCounter = 0; %>
        <% let propCounter = 0; %>
        <% let methodCounter = 0; %>
        
        <% if (projectItem != "undefined") { %>
            <form action=<%= "/edit/page/" + projectItem.id %> method="POST">
                <div class="add-file">
                    <button class="add-file-button" type="button">Add File +</button> <br>

                <% projectItem.files.forEach(function(file, fileindex) { %>
                    <div class=<%= "file-div-" + fileindex %>>
                        
                    <label for="file-name" class="label-filename">File name: <br>
                        <input type="text" name=<%= "file-name-" + fileindex %> id=<%= "file-name" + fileindex %> value="<%= file.name %>">
                    </label> <br>

                    <label for="file-desc" class="label-filedesc">File Description: <br>
                        <textarea name=<%= "file-name-" + fileindex %> id="file-desc" cols="20" rows="5"><%= file.desc %></textarea>
                    </label> <br>

                    <div class=<%= "add-class-" + fileindex %>>
                        <button type="button" class=<%= "" + fileindex %>>Add Class +</button>

                    <% if (file.classes.length != 0 ) { %>
                        <% file.classes.forEach(function(classy, classIndex) { %>

                        <div class=<%= "add-small-class-" + classCounter %>>
                            
                            <label for="class-name" class="label-classname">Class name: <br>
                                <input type="text" name=<%= "class-name-" + classCounter %> id="class-name" value="<%= classy.name %>">
                            </label> <br>

                            <label for="class-desc" class="label-classdesc">Class Description: <br>
                                <textarea name=<%= "class-name-" + classCounter %> id="class-desc" cols="20" rows="5"><%= classy.desc %></textarea>
                            </label> <br>
                            
                            <div class=<%= "add-property-" + classCounter %>>
                                <button type="button" class=<%= "" + classCounter %>>Add Property +</button>

                            <% if (classy.props.length != 0 ) { %>
                                <% classy.props.forEach(function(propy, propIndex) { %>

                                        <label for="property-name-" class="label-propname">Property name: <br>
                                            <input type="text" class="property-input" name=<%= "property-name-" + propCounter %> id="property-name" value="<%= propy.name %>">
                                        </label>

                                        <label for="public-prop">Pub
                                            <input type="radio" id="public-prop" value="public-property" class="create-checkbox" name=<%= "property-name-" + propCounter %> <% if (propy.type == "public-property") { %> checked <% } %>>
                                        </label>

                                        <label for="private-prop">Priv
                                            <input type="radio" id="private-prop" value="private-property" class="create-checkbox" name=<%= "property-name-" + propCounter %> <% if (propy.type == "private-property") { %> checked <% } %>>
                                        </label>

                                        <label for="protected-prop">Prot
                                            <input type="radio" id="protected-prop" value="protected-property" class="create-checkbox" name=<%= "property-name-" + propCounter %> <% if (propy.type == "protected-property") { %> checked <% } %>>
                                        </label> <br> <br>
                                        
                                        <% propCounter += 1 %>
                                <% }) %>
                            <% } %>
                            </div>

                            <div class=<%= "add-method-" + classCounter %>>
                                <button type="button" class=<%= "" + classCounter %>>Add Method +</button>

                            <% if (classy.methods.length != 0 ) { %>
                                <% classy.methods.forEach(function(methy, methIndex) { %>

                                        <label for="method-name" class="label-methname">Method name: <br>
                                            <input type="text" name=<%= "method-name-" + methodCounter %> id="method-name" value="<%= methy.name %>">
                                        </label> <br>

                                        <label for="method-return-type" class="label-methrt">Method return type: <br>
                                            <input type="text" name=<%= "method-name-" + methodCounter %>" id="method-return-type" value="<%= methy.rety %>">
                                        </label> <br>

                                        <label for="method-arguments" class="label-methargs">Method arguments: <br>
                                            <input type="text" name=<%= "method-name-" + methodCounter %> id="method-arguments" value="<%= methy.args %>">
                                        </label> <br>

                                        <label for="method-definition" class="label-classdef">Method definition: <br>
                                            <textarea name=<%= "method-name-" + methodCounter %> id="class-desc" cols="20" rows="5"><%= classy.desc %></textarea>
                                        </label> <br> <br>
                                        
                                        <% methodCounter += 1 %>
                                <% }) %>
                            <% } %>
                            </div>
                            </div>
                            <% classCounter += 1 %>
                        <% }) %>
                        </div> 
                    <% } %>
                    </div>
                    <% }) %>
                </div>
                <button class="edit-button" type="submit">Save</button>
            </form>
        <% } else { %>
            You shouldn't see this :')

        <% } %>
    </div>
