<div class="container-single-view">
    <div class="main">
        <h2>View <br> <%= projectItem.name %> 
            <a href=<%= "/edit/" + projectItem.id %>>
                <button class="edit-button" type="submit">Edit</button>
            </a>
        </h2> </div>
    <div class="view-file">
        <% if (projectItem != "undefined") { %>
            <% projectItem.files.forEach(function(file) { %>
                <div class="single-file">

                    <% if (file.comp == "completed") { %>
                        <span class="status-completed">Completion Status: Completed <br></span>
                        
                    <% } else { %>
                        <span class="status-pending">Completion Status: Pending <br></span>
                    <% } %>

                <br>
                <h3 class="view-file-name"> <%= file.name %> </h3>
                <h4 class="view-file-desc">""" <%= file.desc %> """</h4>

                <% if (file.classes.length != 0 ) { %>
                    <% file.classes.forEach(function(classy) { %>
                        <br>
                        <h3 class="view-file-class-name">Class: <%= classy.name %></h3>
                        <h4 class="view-file-class-desc">""" <%= classy.desc %> """</h4>

                        <% if (classy.methods.length != 0 ) { %>
                            <% classy.methods.forEach(function(methy) { %>
                                <h3 class="view-method-name">Method: <%= methy.name %> (<%= methy.args %>)</h3>
                                <h4 class="view-method-desc">""" <%= methy.desc %> """</h4>
                                <h4 class="view-method-rety"><%= methy.rety %></h4>

                            <% }) %>
                        <% } %>
                        <% if (classy.props.length != 0 ) { %>
                            &nbsp; <br>
                            <% classy.props.forEach(function(propy) { %>
                                <h3 class="view-propy-name">Property: <%= propy.name %></h3>
                                <h4 class="view-propy-type"><%= propy.type %></h4>
                            <% }) %>
                        <% } %>
                    <% }) %>
                <% } %>
            </div>
            <% }) %>
            
        <% } else { %>
            You shouldn't see this :')

        <% } %>
    </div>
